@import "./base/fonts.css";
@import "./base/variables.css";
@import "./base/reset.css";

@import "./components/button.css";
@import "./components/nav.css";
@import "./components/hero.css";
@import "./components/featured.css";
@import "./components/news.css";
@import "./components/trending.css";

@import "./utils/a11y.css";

.layout {
    max-width: 69.375rem;
    padding: 1.375rem 0 5rem;
    width: 100%;
    margin-inline: 1rem;

    @media (--laptop) {
        padding-block: 5.5625rem 8.125rem;
    }
}

.main {
    width: 100%;
    margin-block-end: 4rem;

    @media (--tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.875rem;
    }

    @media (--laptop) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
