@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
:root {
    --clr-soft-orange: hsl(35, 77%, 62%);
    --clr-soft-red: hsl(5, 85%, 63%);

    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);

    --fw-normal: 400;
    --fw-bold: 700;
    --fw-bolder: 800;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    line-height: 1;
    font-size: 0.9375rem;
    color: var(--clr-dark-grayish-blue);
    font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.layout {
    max-width: 69.375rem;
    margin: 0 1rem;
    padding: 1.375rem 0 5rem 0;
    width: 100%;
}

.nav-container {
    margin-bottom: 1.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    height: 1.75rem;
    object-fit: contain;
}

.menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background-color: hsla(240, 100%, 5%, 0.5);
    overflow: hidden;
    font-size: 1.125rem;
    line-height: 1.25;
}
.menu-container.open {
    width: 100%;
    transition: 350ms ease;
}
.menu-container.open .menu-wrapper {
    width: 16rem;
    transition: 250ms ease 200ms;
}
.menu-wrapper {
    padding: calc(145rem / 16) 0 0 calc(24rem / 16);
    background-color: var(--clr-off-white);
    height: 100%;
    width: 0;
    float: right;
    list-style: none;
}
.menu-item:not(:first-child) {
    margin-top: calc(26rem / 16);
}
.menu-item a {
    text-decoration: none;
    cursor: pointer;
    color: var(--clr-very-dark-blue);
    transition: color 200ms ease;
}

.btn-primary {
    padding: 1.125rem 2rem 1rem 1.9375rem;
    font-size: 0.875rem;
    letter-spacing: 0.27125rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 200ms ease;
    background-color: var(--clr-soft-red);
    font-weight: var(--fw-bold);
    color: var(--clr-off-white);
}

.btn-primary:hover {
    background-color: var(--clr-very-dark-blue);
}

#btn-hamburger {
    z-index: 100;
    padding: 0;
    border: none;
    cursor: pointer;
    height: calc(40rem / 16);
    background-color: transparent;
}

#btn-hamburger span {
    display: block;
    width: calc(40rem / 16);
    height: calc(3rem / 16);
    background-color: var(--clr-dark-grayish-blue);
    transition: 300ms ease;
}

#btn-hamburger span:not(:first-child) {
    margin-top: calc(4rem / 16);
}

#btn-hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
}

#btn-hamburger.open span:nth-child(2) {
    display: none;
}

#btn-hamburger.open span {
    margin: 0;
    width: calc(40rem / 16);
}

#btn-hamburger.open span:nth-child(3) {
    margin-top: calc(-3rem / 16);
    transform: rotate(-45deg);
}

.header-container {
    width: 100%;
    margin-bottom: 4rem;
}
.header-hero img {
    height: 18.75rem;
    width: 100%;
    object-fit: cover;
}
.header-content {
    margin: 1.5625rem 0 0 0;
}
.header-content h1 {
    font-size: 2.5rem;
    font-weight: var(--fw-bolder);
    color: var(--clr-very-dark-blue);
    max-width: 10ch;
    height: min-content;
    margin-bottom: 1rem;
}
.header-content .description {
    max-width: 36ch;
    margin-bottom: 1.5625rem;
    line-height: 1.7;
}

.news-container {
    background-color: var(--clr-very-dark-blue);
    padding: 1.5rem 1.5rem 1.625rem 1.3125rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}
.news-container h2 {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-soft-orange);
    margin-bottom: 0.25rem;
}
.news-wrapper {
    padding: 0;
    list-style: none;
}
.news-item {
    padding-top: 2.0625rem;
}
.news-item:not(:last-child) {
    padding-bottom: 1.875rem;
    border-bottom: 1px solid var(--clr-grayish-blue);
}
.news-item .title {
    font-size: 1.25rem;
    letter-spacing: 0.009375rem;
    transition: color 200ms ease;
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--clr-off-white);
}
.news-item .description {
    margin-top: 0.625rem;
    color: var(--clr-grayish-blue);
    line-height: 1.7;
}

.popular-container {
    margin-top: 4rem;
    display: grid;
    gap: 2rem 1.875rem;
}
.popular-item {
    display: flex;
}
.popular-item img {
    margin-right: 1.5rem;
    width: 6.25rem;
    height: 8rem;
    object-fit: cover;
}
.popular-item .rank {
    font-size: 2rem;
    letter-spacing: 0.01rem;
    font-weight: var(--fw-bold);
    color: var(--clr-grayish-blue);
}
.popular-item .title {
    display: block;
    cursor: pointer;
    transition: color 200ms ease;
    text-decoration: none;
    margin: 0.9375rem 0 0.75rem 0;
    font-size: 1.125rem;
    letter-spacing: 0.01rem;
    color: var(--very-dark-blue);
    font-weight: var(--fw-bold);
}
.popular-item .description {
    line-height: 1.7;
    max-width: 24ch;
}

@media (hover: hover) {
    .menu-item a:hover {
        color: var(--clr-soft-red);
    }
    .news-item .title:hover {
        color: var(--clr-soft-orange);
    }
    .popular-item .title:hover {
        color: var(--clr-soft-red);
    }
}

@media screen and (min-width: 48em) {
    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.875rem;
    }

    .header-hero {
        grid-column: span 2;
    }

    .header-content h1 {
        font-size: 3.5rem;
    }

    #btn-hamburger {
        display: none;
    }

    .menu-container {
        display: block;
        position: initial;
        width: initial;
        font-size: 1rem;
    }
    .menu-wrapper {
        height: auto;
        width: initial;
        display: flex;
        padding: 0;
    }
    .menu-item:not(:first-child) {
        margin: 0 0 0 2.375rem;
    }
    .header-content {
        margin: 0;
    }
    .news-container {
        margin: 0;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
    }
    .popular-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 60em) {
    .header-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header-hero {
        grid-column: span 2;
    }
    .header-content h1 {
        margin: 0.25rem 0 0 0;
    }

    .layout {
        padding: 5.5625rem 0 8.125rem 0;
    }
    .nav-container {
        margin-bottom: 3.4375rem;
    }
    .nav-logo {
        height: 2.5rem;
    }

    .header-content {
        grid-column: 1 / 3;
        display: grid;
        gap: 1.875rem;
        grid-template-columns: 1fr 1fr;
    }

    .header-content .description {
        line-height: 1.6;
        margin-bottom: 2.25rem;
    }

    .news-container {
        margin: 0;
        grid-column: 3;
        grid-row: 1 / 3;
    }
    .news-container h2 {
        font-size: 2.5rem;
        margin-bottom: 0.125rem;
    }
    .news-item {
        padding-top: 2rem;
    }
    .news-item .description {
        margin-top: 0.75rem;
        max-width: 32ch;
    }

    .popular-container {
        margin-top: 4.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
