/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: var(--leading-none);
    font-size: var(--text-base);
    color: var(--color-dark-grayish-blue);
    font-family: "Inter", "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
    display: flex;
    justify-content: center;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

@supports selector(:focus-visible) {
    a:focus,
    button:focus {
        outline: 0;
    }

    a:focus-visible,
    button:focus-visible {
        outline-width: var(--focus-outline-width);
        outline-offset: var(--focus-outline-offset);
        outline-style: var(--focus-outline-style);
        outline-color: var(--focus-outline-color);
    }
}
